<%#A Dashboard for Platform related data, including Openstack, Ceph%>
<div class="gridster">
  <ul>
    <%#Openstack%>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="openstack" data-view="Image" data-title="openstack-logo" data-image="/openstack-logo.png"  data-width="250px"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="number_vcpus_used" data-view="Number" data-title="Number of VCPU's used."></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ram-hypervisor" data-view="Number" data-title="Total Hypervisor Memory Usage"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="running_vms-hypervisor" data-view="Number" data-title="Number of Running VM's"></div>
    </li>
    <%#Ceph%>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ceph-logo" data-view="Image" data-title="ceph-logo" data-image="/ceph-logo.png"  data-width="250px"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cluster_space" data-view="Meter" data-title="Available Cluster Space" value="0"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="cluster_iops" data-view="Graph" data-title="Current IOPS"></div>
    </li>

  </ul>
</div>
