<%#A Dashboard for Support related data, including Sirportly and Pagerduty%>
<% content_for(:title) { "Support Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pagerduty_logo" data-view="Image" data-title="pagerduty-logo" data-image="/pagerduty-logo.png"  data-width="250px"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="sirportly_logo" data-view="Image" data-title="sirportly-logo" data-image="/sirportly-logo.png"  data-width="250px"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="on_call" data-view="Text" data-title="On Call" value="Nobody!!"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="triggered_incidents" data-view="Number" data-title="Triggered Incidents" value="0"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="acked_incidents" data-view="Number" data-title="Acknowledged Incidents" value="0"></div>
    </li>
  </ul>
</div>
