[submodule "modules/git"]
	path = modules/git
	url = git://github.com/nesi/puppet-git.git
[submodule "modules/nullmailer"]
	path = modules/nullmailer
	url = git://github.com/akumria/puppet-nullmailer.git
[submodule "modules/tftp"]
	path = modules/tftp
	url = git://github.com/puppetlabs/puppetlabs-tftp.git
