/hieradata/*.yaml                                 filter=private diff=private
/hieradata/modules/*.yaml                         filter=private diff=private
/hieradata/nodes/*.yaml                           filter=private diff=private
/hieradata/platforms/*.yaml                       filter=private diff=private
/hieradata/roles/*.yaml                           filter=private diff=private
/hieradata/releases/*/*/*.yaml                    filter=private diff=private
/hieradata/architectures/*.yaml                   filter=private diff=private
/hieradata/environments/*/*.yaml                  filter=private diff=private
/hieradata/environments/*/*/*.yaml                filter=private diff=private
/hieradata/osfamilies/*.yaml                      filter=private diff=private
