[submodule "modules/nullmailer"]
	path = modules/nullmailer
	url = git://github.com/akumria/puppet-nullmailer.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = git://github.com/saz/puppet-sudo.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/apt"]
	path = modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apt_mirror"]
	path = modules/apt_mirror
	url = https://github.com/jtopjian/puppet-apt_mirror
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/dhcp"]
	path = modules/dhcp
	url = https://github.com/datacentred/puppetlabs-dhcp
[submodule "modules/puppet"]
	path = modules/puppet
	url = https://github.com/datacentred/puppet-puppet
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/foreman_proxy"]
	path = modules/foreman_proxy
	url = https://github.com/datacentred/puppet-foreman_proxy
[submodule "modules/logstash"]
	path = modules/logstash
	url = https://github.com/logstash/puppet-logstash
[submodule "modules/puppetdbquery"]
	path = modules/puppetdbquery
	url = https://github.com/dalen/puppet-puppetdbquery
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/datacentred/puppetlabs-rabbitmq.git
[submodule "modules/erlang"]
	path = modules/erlang
	url = https://github.com/garethr/garethr-erlang
[submodule "modules/staging"]
	path = modules/staging
	url = https://github.com/nanliu/puppet-staging
[submodule "modules/exported_vars"]
	path = modules/exported_vars
	url = https://github.com/example42/puppet-exported_vars
[submodule "modules/bundler"]
	path = modules/bundler
	url = https://github.com/puppetlabs-operations/puppet-bundler.git
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/saz/puppet-memcached
[submodule "modules/java"]
	path = modules/java
	url = https://github.com/puppetlabs/puppetlabs-java
[submodule "modules/wget"]
	path = modules/wget
	url = http://github.com/maestrodev/puppet-wget
[submodule "modules/riemann"]
	path = modules/riemann
	url = https://github.com/datacentred/garethr-riemann
[submodule "modules/tftp"]
	path = modules/tftp
	url = https://github.com/datacentred/puppetlabs-tftp
[submodule "modules/file_concat"]
	path = modules/file_concat
	url = https://github.com/electrical/puppet-lib-file_concat
[submodule "modules/gcc"]
	path = modules/gcc
	url = https://github.com/puppetlabs/puppetlabs-gcc
[submodule "modules/vswitch"]
	path = modules/vswitch
	url = https://github.com/stackforge/puppet-vswitch.git
[submodule "modules/radius"]
	path = modules/radius
	url = https://github.com/datacentred/datacentred-radius.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "modules/rbenv"]
	path = modules/rbenv
	url = https://github.com/alup/puppet-rbenv.git
[submodule "modules/redis"]
	path = modules/redis
	url = https://github.com/thomasvandoren/puppet-redis.git
[submodule "modules/ldap"]
	path = modules/ldap
	url = https://github.com/datacentred/datacentred-ldap.git
[submodule "modules/postfix"]
	path = modules/postfix
	url = https://github.com/datacentred/puppet-postfix
[submodule "modules/augeas"]
	path = modules/augeas
	url = https://github.com/datacentred/puppet-augeas
[submodule "modules/unicorn"]
	path = modules/unicorn
	url = https://github.com/datacentred/puppet-unicorn.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/ethtool"]
	path = modules/ethtool
	url = https://github.com/bobtfish/puppet-ethtool
[submodule "modules/graphite"]
	path = modules/graphite
	url = https://github.com/datacentred/puppet-graphite
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/jippi/puppet-php.git
[submodule "modules/external_facts"]
	path = modules/external_facts
	url = https://github.com/datacentred/datacentred-external_facts
[submodule "modules/ruby"]
	path = modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "modules/haproxy"]
	path = modules/haproxy
	url = https://github.com/datacentred/puppetlabs-haproxy.git
[submodule "modules/keepalived"]
	path = modules/keepalived
	url = https://github.com/arioch/puppet-keepalived
[submodule "modules/icinga"]
	path = modules/icinga
	url = https://github.com/datacentred/datacentred-icinga
[submodule "modules/runonce"]
	path = modules/runonce
	url = https://github.com/datacentred/datacentred-runonce
[submodule "modules/filemapper"]
	path = modules/filemapper
	url = https://github.com/adrienthebo/puppet-filemapper
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/datacentred/puppetlabs-vcsrepo.git
[submodule "modules/httpauth"]
	path = modules/httpauth
	url = https://github.com/jamtur01/puppet-httpauth.git
[submodule "modules/hubot"]
	path = modules/hubot
	url = https://github.com/bilco105/evenup-hubot.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/puppetlabs/puppetlabs-nodejs.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/mxhero/puppet-git.git
[submodule "modules/xinetd"]
	path = modules/xinetd
	url = https://github.com/puppetlabs/puppetlabs-xinetd.git
[submodule "modules/passwordless_ssh"]
	path = modules/passwordless_ssh
	url = https://github.com/datacentred/datacentred-passwordless_ssh
[submodule "modules/glance"]
	path = modules/glance
	url = https://github.com/stackforge/puppet-glance.git
[submodule "modules/cinder"]
	path = modules/cinder
	url = https://github.com/stackforge/puppet-cinder.git
[submodule "modules/neutron"]
	path = modules/neutron
	url = https://github.com/stackforge/puppet-neutron.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elasticsearch/puppet-elasticsearch.git
[submodule "modules/galera"]
	path = modules/galera
	url = https://github.com/datacentred/puppet-galera
[submodule "modules/openstacklib"]
	path = modules/openstacklib
	url = https://github.com/stackforge/puppet-openstacklib.git
[submodule "modules/nova"]
	path = modules/nova
	url = https://github.com/datacentred/puppet-nova
[submodule "modules/sshkeys"]
	path = modules/sshkeys
	url = https://github.com/jtopjian/puppet-sshkeys.git
[submodule "modules/ceilometer"]
	path = modules/ceilometer
	url = https://github.com/stackforge/puppet-ceilometer.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = https://github.com/datacentred/puppetlabs-mongodb
[submodule "modules/heat"]
	path = modules/heat
	url = https://github.com/stackforge/puppet-heat.git
[submodule "modules/ulimit"]
	path = modules/ulimit
	url = https://github.com/arioch/puppet-ulimit
[submodule "modules/duplicity"]
	path = modules/duplicity
	url = https://github.com/datacentred/puppet-duplicity
[submodule "modules/lldp"]
	path = modules/lldp
	url = https://github.com/mfournier/puppet-lldp.git
[submodule "modules/gerrit"]
	path = modules/gerrit
	url = https://github.com/datacentred/datacentred-gerrit
[submodule "modules/grafana"]
	path = modules/grafana
	url = https://github.com/bfraser/puppet-grafana.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/camptocamp/puppet-archive
[submodule "modules/corosync"]
	path = modules/corosync
	url = https://github.com/datacentred/puppetlabs-corosync.git
[submodule "modules/drbd"]
	path = modules/drbd
	url = https://github.com/datacentred/puppetlabs-drbd
[submodule "modules/gnupg"]
	path = modules/gnupg
	url = https://github.com/datacentred/golja-gnupg.git
[submodule "modules/tempest"]
	path = modules/tempest
	url = https://github.com/stackforge/puppet-tempest
[submodule "modules/kibana4"]
	path = modules/kibana4
	url = https://github.com/lesaux/puppet-kibana4.git
[submodule "modules/keystone"]
	path = modules/keystone
	url = https://github.com/openstack/puppet-keystone.git
[submodule "modules/ca_certificate"]
	path = modules/ca_certificate
	url = https://github.com/datacentred/puppet-ca_certificate
[submodule "modules/puppetdeploy"]
	path = modules/puppetdeploy
	url = https://github.com/datacentred/puppet-puppetdeploy
[submodule "modules/nscd"]
	path = modules/nscd
	url = https://github.com/ghoneycutt/puppet-module-nscd
[submodule "modules/influxdb"]
	path = modules/influxdb
	url = https://github.com/n1tr0g/golja-influxdb
[submodule "modules/stunnel"]
	path = modules/stunnel
	url = https://github.com/arusso/puppet-stunnel.git
[submodule "modules/foreman"]
	path = modules/foreman
	url = https://github.com/theforeman/puppet-foreman.git
[submodule "modules/knot"]
	path = modules/knot
	url = https://github.com/datacentred/puppet-knot.git
[submodule "modules/icinga2"]
	path = modules/icinga2
	url = https://github.com/datacentred/puppet-icinga2
[submodule "modules/collectd"]
	path = modules/collectd
	url = https://github.com/puppet-community/puppet-collectd.git
[submodule "modules/horizon"]
	path = modules/horizon
	url = https://github.com/datacentred/puppet-horizon
[submodule "modules/confluence"]
	path = modules/confluence
	url = https://github.com/datacentred/puppet-confluence.git
[submodule "modules/ceph"]
	path = modules/ceph
	url = https://github.com/datacentred/puppet-ceph
[submodule "modules/augeasproviders_ssh"]
	path = modules/augeasproviders_ssh
	url = https://github.com/hercules-team/augeasproviders_ssh
[submodule "modules/augeasproviders_postgresql"]
	path = modules/augeasproviders_postgresql
	url = https://github.com/hercules-team/augeasproviders_postgresql
[submodule "modules/augeasproviders_sysctl"]
	path = modules/augeasproviders_sysctl
	url = https://github.com/hercules-team/augeasproviders_sysctl
[submodule "modules/augeasproviders_syslog"]
	path = modules/augeasproviders_syslog
	url = https://github.com/hercules-team/augeasproviders_syslog
[submodule "modules/augeasproviders_mounttab"]
	path = modules/augeasproviders_mounttab
	url = https://github.com/hercules-team/augeasproviders_mounttab
[submodule "modules/augeasproviders_shellvar"]
	path = modules/augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar
[submodule "modules/augeasproviders_pam"]
	path = modules/augeasproviders_pam
	url = https://github.com/hercules-team/augeasproviders_pam
[submodule "modules/augeasproviders_apache"]
	path = modules/augeasproviders_apache
	url = https://github.com/hercules-team/augeasproviders_apache
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core
[submodule "modules/augeasproviders_puppet"]
	path = modules/augeasproviders_puppet
	url = https://github.com/hercules-team/augeasproviders_puppet
[submodule "modules/augeasproviders_nagios"]
	path = modules/augeasproviders_nagios
	url = https://github.com/hercules-team/augeasproviders_nagios
[submodule "modules/augeasproviders_grub"]
	path = modules/augeasproviders_grub
	url = https://github.com/hercules-team/augeasproviders_grub
[submodule "modules/kmod"]
	path = modules/kmod
	url = https://github.com/camptocamp/puppet-kmod
[submodule "modules/sasl"]
	path = modules/sasl
	url = https://github.com/bodgit/puppet-sasl.git
[submodule "modules/nfsen"]
	path = modules/nfsen
	url = https://github.com/datacentred/puppet-nfsen.git
[submodule "modules/telegraf"]
	path = modules/telegraf
	url = https://github.com/datacentred/puppet-telegraf.git
[submodule "modules/logrotate"]
	path = modules/logrotate
	url = https://github.com/yo61/puppet-logrotate
[submodule "modules/lsyncd"]
	path = modules/lsyncd
	url = https://github.com/datacentred/puppet-lsyncd.git
[submodule "modules/puppetcrl_sync"]
	path = modules/puppetcrl_sync
	url = https://github.com/datacentred/puppet-puppetcrl_sync.git
[submodule "modules/dns"]
	path = modules/dns
	url = https://github.com/theforeman/puppet-dns
[submodule "modules/libvirt"]
	path = modules/libvirt
	url = https://github.com/thias/puppet-libvirt
[submodule "modules/extlib"]
	path = modules/extlib
	url = https://github.com/voxpupuli/puppet-extlib
[submodule "modules/rundeck"]
	path = modules/rundeck
	url = https://github.com/voxpupuli/puppet-rundeck
[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/garethr/garethr-docker.git
