/hieradata/*.yaml                                 filter=private diff=private
hieradata/modules/*.yaml                          filter=private diff=private
/modules/dc_mcollective/files/certs/*             filter=private diff=private
/modules/dc_mcollective/files/private_keys/*      filter=private diff=private
/modules/dc_mcollective/files/client_certs/*      filter=private diff=private
/modules/dc_puppet/templates/master/git/id_rsa    filter=private diff=private
/modules/dc_rails/files/deployer_keys/id_rsa      filter=private diff=private
/modules/dc_puppet/files/keys/marvin/*            filter=private diff=private
/modules/dc_puppet/files/keys/stronghold/*        filter=private diff=private
/modules/dc_packer/files/scripts/puppet.sh        filter=private diff=private
