eyaml:
  public_key: /path/to/eyaml/public_key.pkcs7.pem
  private_key: /path/to/eyaml/private_key.pkcs7.pem
# Top-level is_vagrant fact has to exist
facts:
  is_vagrant: true
boxes:
  # Define our first server. You can define as many as you want.
  #
  # WARNING: At least one key must be defined per host lest
  #          vagrant falls over in a heap with errors.  A
  #          null string will suffice for role for example
  #
  os_compute_node:
    # Define any number of additional facts that will be passed to puppet
    # when provisioning a node.  Specifying the role is a good start.
    facts:
      role: openstack_compute
      condition: true

    # You can override the default CPU cores & memory
    # cpus: 4
    # memory: 4096

    # You can manually specify IP addresses instead of relying on DHCP
    # Default: DHCP
    # ip: 192.168.1.50

    # You can forward ports from your local machine to the guest
    # forwarded_ports:
    #   http:
    #     guest: 80
    #     host: 8080
    #     protocol: tcp
    #   https:
    #     guest: 443
    #     host: 8443
    #     protocol: tcp

    # You can also provision a CentOS instance instead of the default
    # Ubuntu one
    # rhel: true
