eyaml:
  public_key: /path/to/eyaml/public_key.pkcs7.pem
  private_key: /path/to/eyaml/private_key.pkcs7.pem

boxes:
  # Define our first server. You can define as many as you want.
  #
  # WARNING: At least one key must be defined per host lest
  #          vagrant falls over in a heap with errors.  A
  #          null string will suffice for role for example
  #
  os_compute_node:
    # The puppet role (class) to include at the base level
    # Default: None
    puppet_role: dc_role::compute_node

    # The hiera role to define.
    # Default: None
    hiera_role: openstack_compute

    # You can override the default CPU cores & memory
    # cpus: 4
    # memory: 4096

    # You can manually specify IP addresses instead of relying on DHCP
    # Default: DHCP
    # ip: 192.168.1.50

    # You can forward ports from your local machine to the guest
    # forwarded_ports:
    #   http:
    #     guest: 80
    #     host: 8080
    #     protocol: tcp
    #   https:
    #     guest: 443
    #     host: 8443
    #     protocol: tcp
