#splash .login {
  background: url('/static/datacentred/img/logo-vertical.png') no-repeat center 35px;
  background-size: 300px 150px;
}

h1.brand a {
  background: url('/static/datacentred/img/logo-horizontal.png') top left no-repeat;
  background-size: 130px 35px;
}

.nav_accordion dt li a.active, .nav_accordion dd li a.active {
  border-left: 4px solid #E00747;
}
